<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/features">Features</a></li>
    <li><a ng-href="#/signup">Sign Up</a></li>
  </ul>
  <h3 class="text-muted">Applicant</h3>
</div>


<div class="row marketing">
  <h4>Submit an application</h4>
  <p>
    One place for submitting applications. An applicant can attach a resume, 
    cover letter, place a link to a personal web page, portfolio etc.  
  </p>  
  <h4>Review and manage applications</h4>
  <p>
    Registered users can log in, review and place feedback on submitted applications. 
    Applications can be ordered, filtered and change status. 
  </p>  
  
</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-leaf"></span> from <a href="https://github.com/krzyszt">krzyszt</a></p>
</div>
