<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/features">Features</a></li>
  </ul>
  <h3 class="text-muted">Applicant</h3>
</div>

<div class="jumbotron">
  <h1>Applicant</h1>
  <p class="lead">
      An applicant tracking system. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Manage Applications <span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/apply">Submit Application <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Streamline Application Process</h4>
  <p>
    One place where applications can be captured, aggregated and reviewed.
  </p>  
  <h4>MEAN Stack</h4>
  <p>
    Build with MongoDB, Express, Angular and Node. Tested with Karma and Jasmine.
  </p>
</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-leaf"></span> from <a href="https://github.com/krzyszt">krzyszt</a></p>
</div>
